.frame{
  height:130px;
  width:100%;
  top:150px;
  left:80px;
  position:fixed;
  cursor: help;

}

.frame2{
  height: 300px;
  width:100%;
  position: absolute;
  top:320px;
  left:90px;

}

#tickverb{
  font-family: 'Bebas Neue';
  font-size: 20px;
  margin:10 auto;

}

#ticktext{
  font-family: 'Bebas Neue';
  font-size: 25px;
  margin:10 auto;

}

.cell{
  position:relative;
  float:left;
  transition:transform 0.25s;
  margin:10 auto;
  font-family: 'Bebas Neue';
  text-align: center;
  font-size: 100px;
  outline: none;
}

.cell-1{
  background:transparent;
  width:65px;
}

.cell-1:hover{
  transform: scale(1.4)
  rotate(-10deg)
  translateX(10px);
  color: orange;
}

.cell-1:active{
  transform: scale(1.4)
  rotate(30deg)
  translateX(-10px);
  cursor: pointer;
}

.cell-2{
  background:transparent;
  width:37px;

}

.cell-2:hover{
  transform: scale(-1.6)
  rotate(20deg)
  translateX(10px);;
  cursor: pointer;
  color: orange;
}

.cell-2:active{
  transform: scale(-1.6)
  rotate(-30deg)
  translateX(-10px);
}

.cell-3{
  background:transparent;
  width:71px;
}

.cell-3:hover{
  transform: scale(-1.5)
  rotate(-20deg)
  translateX(10px);;
  color: orange;
  cursor: pointer;
}

.cell-3:active{
  transform: scale(-1.6)
  rotate(-40deg)
  translateX(-10px);

}

.cell-4{
  background:transparent;
  width:76px;
}

.cell-4:hover{
  transform: scale(1.4)
  rotate(30deg)
  translateX(10px);
  cursor: pointer;
  color: orange;
}

.cell-4:active{
  transform: scale(1.6)
  rotate(-10deg)
  translateX(-10px);
}

.cell-5{
  background:transparent;
  width:65px;
}
.cell-5:hover{
  transform: scale(-1.2) 
  rotate(-10deg)
  translateX(10px);
  cursor: pointer;
  color: orange;
  
}

.cell-5:active{
  transform: scale(-1.6)
  rotate(-40deg)
  translateX(-10px);
}

.cell-6{
  background:transparent;
  width:65px;
}

.cell-6:hover{
  transform: scale(1.2)
  rotate(30deg)
  translateX(10px);
  cursor: pointer;
  color: orange;
}

.cell-6:active{
  transform: scale(1.6)
  rotate(50deg)
  translateX(-10px);
}

.cell-7{
  background:transparent;
  width:75px;
}

.cell-7:hover{
  transform: scale(-1.5)
  rotate(-20deg)
  translateX(10px);
  cursor: pointer;
  color: orange;
}

.cell-7:active{
  transform: scale(-1.6)
  rotate(-40deg)
  translateX(-10px);
}